extends layout

block content
  script(src='/javascripts/admins.js')

  input#date-range
  select#courts-select
  select#judgements-select
  button#search.btn.btn-primary= 'Pesquisar'

  div.inso
    h3= 'Insolvências'
    div.table-wrapp
      table#table-1.table.table-striped.selectable.table-bordered
      div#table-1-data

  div.sub
    h3= 'Substituições'
    div.table-wrapp
      table#table-2.table.table-striped.selectable.table-bordered
      div#table-2-data

  div.per
    h3= 'PER-PEAP'
    div.table-wrapp
      table#table-3.table.table-striped.selectable.table-bordered
      div#table-3-data

  div.insu
    h3= 'Insuficiência de Massa'
    div.table-wrapp
      table#table-4.table.table-striped.selectable.table-bordered
      div#table-4-data
